@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00288e;
  --primary-container: #1e40af;
  --secondary: #505f76;
  --surface: #fbf8ff;
  --surface-container-low: #f4f2fc;
  --outline: #757684;
  --outline-variant: #c4c5d5;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #fbf8ff;
  color: #1a1b22;
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}